.Avatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 2px solid #ffffff;

  &--md {
    width: 36px;
    height: 36px;
  }

  &--lg {
    width: 150px;
    height: 150px;
    box-shadow: 0 0 4px 0 rgba(163,163,163,1);
  }
}
