@import '~bootstrap';

.Login {

  &__title,
  &__subtitle {
    color: #333333;
  }

  &__subtitle {
    @extend .h4;
  }

  &__form__error {
    @extend .text-danger;
    margin-left: 14px;
  }

  &__intro-image {
    height: 600px;
    max-width: 90%;
  }

  &__submit-btn,
  &__submit-btn:active,
  &__submit-btn:focus {
    @extend .btn;
    @extend .btn-dark;
    @extend .w-100;
    background: #f54555;
    border-color: #f54555;
  }

  &__register-link,
  &__register-link:hover {
    color: #f54555;
  }

}
