
.SearchResult {
  background: #eeeeee;
  border: 1px solid #dddddd;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;

  &__avatar {
    margin-right: 15px;
  }

  &__bio {
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 0;
  }
}
